<% include ./partials/header %>

<h1>register</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button>Signup</button>
</form>

<% include ./partials/footer %>